<ActionBar title="Telegraf - Secure OTM" class="action-bar">
</ActionBar>


<AbsoluteLayout class="page" height="100%">
    <Gradient direction="to bottom" colors="#B4ED50, #429321" height="100%" width="100%" top="0" left="0">
    </Gradient>
    <!-- Page 1 -->
    <StackLayout #page1 class="p-t-25" top="0" left="0" height="100%"
                 width="100%">
        <StackLayout class="input-field">
            <Label text="Insert your secure message:" class="label mb-p-left mb-p-bottom"></Label>
            <TextView [(ngModel)]="message" hint="Enter your message ..."
                      returnKeyType="next"
                      class="input input-border bigTextView"></TextView>
        </StackLayout>

        <Stacklayout class="mb-m-bottom">
            <Label text="Enable password protection:" class="label mb-p-left"></Label>
            <Label class="label h3 mb-p-left mb-p-right subtext"
                   text="With password protection, your message will be encrypted with AES-256 and your reader get a password prompt. Let it empty if you don’t need it."
                   textWrap="true"></Label>
        </Stacklayout>

        <GridLayout class="input-field full-width" rows="*" columns="auto, *">
            <Label class="label" text="Password" textWrap="true" row="0" col="0"></Label>
            <TextField class="input input-border" hint="Your password ..." [(ngModel)]="password" row="0" col="1"></TextField>
        </GridLayout>

        <StackLayout class="mb-m-top">
            <Button class="btn btn-active btn-primary" text="Send your message" (tap)="send()" row="0"
                    col="1"></Button>
        </StackLayout>
    </StackLayout>
    <!-- /Page 1 -->
    <!-- Page 2 -->
    <StackLayout #page2 class="p-t-25" top="0" left="0" height="100%"
                 width="100%">
        <Label text="Your secure link:" class="mb-p-left label" textWrap="true"></Label>
        <Label [text]="link" class="mb-p-left mb-p-right mb-m-bottom label h3" textWrap="true"></Label>

        <Button class="btn btn-active btn-primary" text="Share this link" (tap)="share()" row="0" col="1"></Button>
        <Button class="btn btn-outline" text="Create new message" (tap)="goBack()" row="0" col="1"></Button>
    </StackLayout>
    <!-- /Page 2 -->
</AbsoluteLayout>
